<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <% @cart_details.each do |cart_detail| %>
        <% display_price = synchronization_product_price(cart_detail) %>
          <%= link_to image_tag(cart_detail.product.picture, :size => "100x100"), 
                          controller: "products", action: "show" ,id: cart_detail.product.id %>
          <%= display_price %>円
          <%= link_to "商品削除", cart_detail, method: :delete, data: { confirm: "本当ですか?" } %> 
          <%= form_for(cart_detail) do |f| %>
            <%= f.label :数量 %>
            <%= f.number_field :quantity, min: 1, max:9 %>
            <%= f.submit "変更", class: "btn btn-small", data: { disable_with: "送信中"} %>
          <% end %>
      <% end %>
    </div>
    <div class="span10">
      <%= render "order_form" %>
    </div>
  </div>
</div>